@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <a asp-controller="Customer" asp-action="Login">Customer Login</a> |
        <a asp-controller="BankEmployee" asp-action="Index">Bank Employee Portal</a>
    </p>
</div>